:root{
    --background-color: #0C1718;
    --header: #1F1D1D;
    --text-color: rgba(256, 256, 256, 0.8);
    --input-background: #312F2F;
    --input-color: rgba(256, 256, 256, 0.8);
    --button-color: #636060;
    --chat-item: #312F2F;
    --error-text: red;
}